.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #10475E;
}

.sidebar-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
}

.sidebar-link svg {
  color: currentColor;
  margin-bottom: 4px;
}

.sidebar-link.active {
  color: #FFC107;
}
